I got a file a data set of all cricket players which was scrapped from cricinfo on kaggle. I don't want to use all of it and will focus on only Indian players who played international matches for India A.

In [135]:
# Importing libraries i'll require
import pandas as pd
import matplotlib.pyplot as plt

In [83]:
cd = pd.read_csv('cricket_data.csv')
cd.shape

(90308, 181)

In [23]:
cd.head(5)

,ID,NAME,COUNTRY,Full name,Born,Died,Current age,Major teams,Education,Height,...,BOWLING_T20s_Runs,BOWLING_T20s_Wkts,BOWLING_T20s_BBI,BOWLING_T20s_BBM,BOWLING_T20s_Ave,BOWLING_T20s_Econ,BOWLING_T20s_SR,BOWLING_T20s_4w,BOWLING_T20s_5w,BOWLING_T20s_10
0,8772,Henry Arkell,England,Henry John Denham Arkell,"\nJune 26, 1898, Edmonton, Middlesex","March 12, 1982, Oxford (aged 83 years 259 days)",NaN,Northamptonshire,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,532565,Richard Nyren,England,Richard Nyren,"\nApril 25, 1734, Eartham, Sussex","April 25, 1797, Lee or Leigh, Kent (aged 63 ye...",NaN,Hampshire XI,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,16856,Sydney Maartensz,England,Sydney Gratien Adair Maartensz,"\nApril 14, 1882, Colombo, Ceylon","September 10, 1967, Pyrford, Woking, Surrey (a...",NaN,Hampshire,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,16715,Brian Lander,England,Brian Richard Lander,"\nJanuary 9, 1942, Bishop Auckland, Co Durham",NaN,77 years 73 days,"['Durham,', 'Minor Counties']",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15989,Derek Kenderdine,England,Derek Charles Kenderdine,"\nOctober 28, 1897, Chislehurst, Kent","August 28, 1947, Cambridge (aged 49 years 304 ...",NaN,Royal Navy,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

That's a good sized dataset, let's see what all columns we have.

In [34]:
#pd.set_option('display.max_rows',181) #Setting display size as output is more than default 10
cd.dtypes

ID                             int64
NAME                          object
COUNTRY                       object
Full name                     object
Born                          object
Died                          object
Current age                   object
Major teams                   object
Education                     object
Height                        object
Nickname                     float64
Playing role                  object
Batting style                 object
Bowling style                 object
Other                         object
Relation                      object
In a nutshell                 object
DESCRIPTION                   object
AWARDS                        object
BATTING_Tests_Mat            float64
BATTING_Tests_Inns            object
BATTING_Tests_NO              object
BATTING_Tests_Runs            object
BATTING_Tests_HS              object
BATTING_Tests_Ave             object
BATTING_Tests_BF              object
BATTING_Tests_SR              object
BATTING_Tests_100             object
BATTING_Tests_50              object
BATTING_Tests_4s              object
BATTING_Tests_6s              object
BATTING_Tests_Ct              object
BATTING_Tests_St              object
BATTING_ODIs_Mat             float64
BATTING_ODIs_Inns             object
BATTING_ODIs_NO               object
BATTING_ODIs_Runs             object
BATTING_ODIs_HS               object
BATTING_ODIs_Ave              object
BATTING_ODIs_BF               object
BATTING_ODIs_SR               object
BATTING_ODIs_100              object
BATTING_ODIs_50               object
BATTING_ODIs_4s               object
BATTING_ODIs_6s               object
BATTING_ODIs_Ct               object
BATTING_ODIs_St               object
BATTING_T20Is_Mat            float64
BATTING_T20Is_Inns            object
BATTING_T20Is_NO              object
BATTING_T20Is_Runs            object
BATTING_T20Is_HS              object
BATTING_T20Is_Ave             object
BATTING_T20Is_BF              object
BATTING_T20Is_SR              object
BATTING_T20Is_100             object
BATTING_T20Is_50              object
BATTING_T20Is_4s              object
BATTING_T20Is_6s              object
BATTING_T20Is_Ct              object
BATTING_T20Is_St              object
BATTING_First-class_Mat      float64
BATTING_First-class_Inns      object
BATTING_First-class_NO        object
BATTING_First-class_Runs      object
BATTING_First-class_HS        object
BATTING_First-class_Ave       object
BATTING_First-class_BF        object
BATTING_First-class_SR        object
BATTING_First-class_100       object
BATTING_First-class_50        object
BATTING_First-class_4s        object
BATTING_First-class_6s        object
BATTING_First-class_Ct        object
BATTING_First-class_St        object
BATTING_List A_Mat           float64
BATTING_List A_Inns           object
BATTING_List A_NO             object
BATTING_List A_Runs           object
BATTING_List A_HS             object
BATTING_List A_Ave            object
BATTING_List A_BF             object
BATTING_List A_SR             object
BATTING_List A_100            object
BATTING_List A_50             object
BATTING_List A_4s             object
BATTING_List A_6s             object
BATTING_List A_Ct             object
BATTING_List A_St             object
BATTING_T20s_Mat             float64
BATTING_T20s_Inns             object
BATTING_T20s_NO               object
BATTING_T20s_Runs             object
BATTING_T20s_HS               object
BATTING_T20s_Ave              object
BATTING_T20s_BF               object
BATTING_T20s_SR               object
BATTING_T20s_100              object
BATTING_T20s_50               object
BATTING_T20s_4s               object
BATTING_T20s_6s               object
BATTING_T20s_Ct               object
BATTING_T20s_St               object
BOWLING_Tests_Mat            float64
BOWLING_Tests_Inns            object
BOWLING_Tests_Balls           object
BOWLING_Tests_Runs            object
BOWLING_Tests_Wkts            object
BOWLING_Tests_BBI             object
BOWLING_Tests_BBM             object
BOWLING_Tests_Ave             object
BOWLING_Tests_Econ            object
BOWLING_Tests_SR              object
BOWLING_Tests_4w              object
BOWLING_Tests_5w              object
BOWLING_Tests_10              object
BOWLING_ODIs_Mat             float64
BOWLING_ODIs_Inns             object
BOWLING_ODIs_Balls            object
BOWLING_ODIs_Runs             object
BOWLING_ODIs_Wkts             object
BOWLING_ODIs_BBI              object
BOWLING_ODIs_BBM              object
BOWLING_ODIs_Ave              object
BOWLING_ODIs_Econ             object
BOWLING_ODIs_SR               object
BOWLING_ODIs_4w               object
BOWLING_ODIs_5w               object
BOWLING_ODIs_10               object
BOWLING_T20Is_Mat            float64
BOWLING_T20Is_Inns            object
BOWLING_T20Is_Balls           object
BOWLING_T20Is_Runs            object
BOWLING_T20Is_Wkts            object
BOWLING_T20Is_BBI             object
BOWLING_T20Is_BBM             object
BOWLING_T20Is_Ave             object
BOWLING_T20Is_Econ            object
BOWLING_T20Is_SR              object
BOWLING_T20Is_4w              object
BOWLING_T20Is_5w              object
BOWLING_T20Is_10              object
BOWLING_First-class_Mat      float64
BOWLING_First-class_Inns      object
BOWLING_First-class_Balls     object
BOWLING_First-class_Runs      object
BOWLING_First-class_Wkts      object
BOWLING_First-class_BBI       object
BOWLING_First-class_BBM       object
BOWLING_First-class_Ave       object
BOWLING_First-class_Econ      object
BOWLING_First-class_SR        object
BOWLING_First-class_4w        object
BOWLING_First-class_5w        object
BOWLING_First-class_10        object
BOWLING_List A_Mat           float64
BOWLING_List A_Inns           object
BOWLING_List A_Balls          object
BOWLING_List A_Runs           object
BOWLING_List A_Wkts           object
BOWLING_List A_BBI            object
BOWLING_List A_BBM            object
BOWLING_List A_Ave            object
BOWLING_List A_Econ           object
BOWLING_List A_SR             object
BOWLING_List A_4w             object
BOWLING_List A_5w             object
BOWLING_List A_10             object
BOWLING_T20s_Mat             float64
BOWLING_T20s_Inns             object
BOWLING_T20s_Balls            object
BOWLING_T20s_Runs             object
BOWLING_T20s_Wkts             object
BOWLING_T20s_BBI              object
BOWLING_T20s_BBM              object
BOWLING_T20s_Ave              object
BOWLING_T20s_Econ             object
BOWLING_T20s_SR               object
BOWLING_T20s_4w               object
BOWLING_T20s_5w               object
BOWLING_T20s_10               object
dtype: object

I don't need all those columns, let's take only what we think is needed.

In [84]:
cd = cd[['NAME','COUNTRY','Major teams','Playing role',
    'BATTING_T20Is_Inns','BATTING_T20Is_Runs','BATTING_T20Is_Ave','BATTING_T20Is_100','BATTING_T20Is_50',
    'BOWLING_T20Is_Inns','BOWLING_T20Is_Ave','BOWLING_T20Is_Econ','BOWLING_T20Is_SR']]

I am looking for only Indian players so let's remove other nationality players first.

In [85]:
cd = cd[cd['COUNTRY']=='India']
cd.shape

(13257, 13)

We already reduced from 90K to 13K, lets look at only international players.

In [86]:
cd[cd['Major teams']=='India A']

Empty DataFrame
Columns: [NAME, COUNTRY, Major teams, Playing role, BATTING_T20Is_Inns, BATTING_T20Is_Runs, BATTING_T20Is_Ave, BATTING_T20Is_100, BATTING_T20Is_50, BOWLING_T20Is_Inns, BOWLING_T20Is_Ave, BOWLING_T20Is_Econ, BOWLING_T20Is_SR]
Index: []

Odd i was expecting results, so the team column has a list of teams a player has played for and it can't just India A. Can't filter it directly.

In [125]:
cd = cd[cd['Major teams'].isna()==False] #removing players with no teams
cd = cd[cd['Major teams'].str.contains('India A') & cd['Major teams'].str.contains('Women')==False]

Many indian players we selected haven't played a T20 international. Let's remove them.

In [142]:
indianT20Players=cd[ (cd['BOWLING_T20Is_Inns'].isna()==False) | (cd['BATTING_T20Is_Inns'].isna()==False) ]
indianT20Players.to_csv('IndianT20IPlayers.csv')
indianT20Players.shape

(35, 13)

41 players o.0
I checked again the dataset is at issue, it's old, doesn't have all values for all players. We have treated it the best way we can.

In [127]:
indianT20Players

,NAME,COUNTRY,Major teams,Playing role,BATTING_T20Is_Inns,BATTING_T20Is_Runs,BATTING_T20Is_Ave,BATTING_T20Is_100,BATTING_T20Is_50,BOWLING_T20Is_Inns,BOWLING_T20Is_Ave,BOWLING_T20Is_Econ,BOWLING_T20Is_SR
28137,Jasprit Bumrah,India,"['India,', 'Gujarat,', 'India A,', 'India Unde...",Bowler,6,8,4.00,0,0,42,20.17,6.71,18.0
28275,Khaleel Ahmed,India,"['India,', 'Delhi Daredevils,', 'India A,', 'I...",Bowler,1,1,-,0,0,9,32.10,9.17,21.0
29635,Ashok Dinda,India,"['India,', 'Bengal,', 'Delhi Daredevils,', 'Ea...",Bowler,2,22,22.00,0,0,9,14.41,8.16,10.5
29765,Shikhar Dhawan,India,"['India,', 'Deccan Chargers,', 'Delhi,', 'Delh...",Opening batsman,49,1310,28.47,0,9,-,-,-,-
30537,Deepak Chahar,India,"['India,', 'Chennai Super Kings,', 'India A,',...",Bowler,-,-,-,-,-,1,43.00,10.75,24.0
32026,Bhuvneshwar Kumar,India,"['India,', 'India A,', 'Pune Warriors,', 'Roya...",Bowler,9,23,5.75,0,0,37,25.83,6.97,22.2
32055,Dhawal Kulkarni,India,"['India,', 'Gujarat Lions,', 'India A,', 'Indi...",Bowler,1,1,-,0,0,2,18.33,6.87,16.0
32062,Kuldeep Yadav,India,"['India,', 'Central Zone,', 'India A,', 'India...",Bowler,2,20,20.00,0,0,18,12.97,6.72,11.5
32145,Shreyas Iyer,India,"['India,', 'Delhi Daredevils,', 'India A,', 'I...",Top-order batsman,5,83,16.60,0,0,-,-,-,-
33018,Kedar Jadhav,India,"['India,', 'Chennai Super Kings,', 'Delhi Dare...",Batting allrounder,6,122,20.33,0,1,-,-,-,-
33132,Dinesh Karthik,India,"['India,', 'Abahani Limited,', 'Albert TUTI Pa...",Wicketkeeper batsman,26,399,33.25,0,0,-,-,-,-
33771,Mohammed Shami,India,"['India,', 'Bengal,', 'Delhi Daredevils,', 'IC...",Bowler,-,-,-,-,-,7,31.25,10.56,17.7
34338,Mandeep Singh,India,"['India,', 'India A,', 'India Under-19s,', 'Ki...",Allrounder,3,87,43.50,0,1,-,-,-,-
35900,RP Singh,India,"['India,', 'Deccan Chargers,', 'India A,', 'In...",Bowler,2,3,-,0,0,9,15.00,6.81,13.2
36800,Rohit Sharma,India,"['India,', 'Deccan Chargers,', 'India A,', 'In...",Top-order batsman,86,2331,32.37,4,16,9,113.00,9.97,68.0
36821,Rahul Sharma,India,"['India,', 'Chennai Super Kings,', 'Deccan Cha...",Bowler,-,-,-,-,-,2,18.66,7.63,14.6
36965,Yusuf Pathan,India,"['India,', 'Baroda,', 'India A,', 'India Green...",Allrounder,18,236,18.15,0,0,17,33.69,8.61,23.4
37115,Vijay Shankar,India,"['India,', 'Chennai Super Kings,', 'Delhi Dare...",Allrounder,4,101,25.25,0,0,6,38.20,9.09,25.2
37332,Pragyan Ojha,India,"['India,', 'Bihar,', 'Deccan Chargers,', 'Hyde...",Bowler,1,10,-,0,0,6,13.20,6.28,12.6
37333,Naman Ojha,India,"['India,', 'Central Zone,', 'Delhi Daredevils,...",Wicketkeeper batsman,2,12,6.00,0,0,-,-,-,-
37391,Axar Patel,India,"['India,', 'Delhi Daredevils,', 'Gujarat,', 'I...",Bowling allrounder,7,68,17.00,0,0,11,29.44,6.79,26.0
37569,Parvez Rasool,India,"['India,', 'India A,', 'Jammu & Kashmir,', 'Pu...",Bowling allrounder,1,5,5.00,0,0,1,32.00,8.00,24.0
37986,Rishabh Pant,India,"['India,', 'Delhi,', 'Delhi Daredevils,', 'Del...",Wicketkeeper batsman,14,233,19.41,0,1,-,-,-,-
38006,Krunal Pandya,India,"['India,', 'Baroda Cricket Association XI,', '...",Allrounder,5,70,23.33,0,0,11,33.09,8.27,24.0
38009,Hardik Pandya,India,"['India,', 'Baroda,', 'India A,', 'Mumbai Indi...",Allrounder,24,296,16.44,0,0,37,25.61,8.31,18.4
38139,Ambati Rayudu,India,"['India,', 'Baroda,', 'Chennai Super Kings,', ...",Middle-order batsman,5,42,10.50,0,0,-,-,-,-
38164,Manish Pandey,India,"['India,', 'India A,', 'Karnataka,', 'Kolkata ...",Top-order batsman,23,538,41.38,0,2,-,-,-,-
38631,Sandeep Sharma,India,"['India,', 'India A,', 'India Under-19s,', 'In...",Bowler,1,1,-,0,0,2,73.00,10.42,42.0
39460,Ajinkya Rahane,India,"['India,', 'India A,', 'India Blue,', 'India E...",Top-order batsman,20,375,20.83,0,1,-,-,-,-
39549,Sudeep Tyagi,India,"['India,', 'Chennai Super Kings,', 'India A,',...",Bowler,-,-,-,-,-,1,-,10.50,-
39632,Manoj Tiwary,India,"['India,', 'Abahani Limited,', 'Bengal,', 'Ben...",Batsman,1,15,15.00,0,0,-,-,-,-
39924,Robin Uthappa,India,"['India,', 'India A,', 'India Under-19s,', 'Ka...",Batsman,12,249,24.90,0,1,-,-,-,-
39952,Jaydev Unadkat,India,"['India,', 'Delhi Daredevils,', 'India A,', 'I...",Bowler,-,-,-,-,-,10,21.50,8.68,14.8
40099,Vinay Kumar,India,"['India,', 'India A,', 'Karnataka,', 'Kochi Tu...",Bowler,1,2,-,0,0,9,24.70,7.84,18.9
41902,Yuvraj Singh,India,"['India,', 'Asia XI,', 'Delhi Daredevils,', 'I...",Middle-order batsman,51,1177,28.02,0,8,31,17.82,7.06,15.1

In [128]:
indianT20Players.describe()

,NAME,COUNTRY,Major teams,Playing role,BATTING_T20Is_Inns,BATTING_T20Is_Runs,BATTING_T20Is_Ave,BATTING_T20Is_100,BATTING_T20Is_50,BOWLING_T20Is_Inns,BOWLING_T20Is_Ave,BOWLING_T20Is_Econ,BOWLING_T20Is_SR
count,35,35,35,35,35,35,35,35,35,35,35,35,35
unique,35,1,35,9,19,29,25,3,7,13,23,24,21
top,Rahul Sharma,India,"['India,', 'India A,', 'Karnataka,', 'Kochi Tu...",Bowler,1,-,-,0,0,-,-,-,-
freq,1,35,1,15,7,5,11,29,21,12,13,12,13

In [141]:
plt.figure(figsize=(25,5))
batsorted = indianT20Players[['NAME','BATTING_T20Is_Inns']].sort_values('BATTING_T20Is_Inns')
plt.bar(batsorted['NAME'],batsorted['BATTING_T20Is_Inns'])

TypeError: sort_values() got an unexpected keyword argument 'order'